@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-shapes {
    background-size: 5px 5px;
    background-image: conic-gradient(
      #ffffff00 90deg,
      #ffffff00 90deg 180deg,
      #122e50 180deg 270deg,
      #ffffff00 270deg
    );
    /* background-image: linear-gradient(to right, #617ca2 50%, #28487d 50%);
  background-size: 10px 10px; */
  }
.anime {
   animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-custom-color{
  background-color: #0B1120;
}
